.home {
    color: #fff;
    width: 30%;
    margin: 200px auto;
    text-align: center;
  }
  .home > main {
    font-size: 18px;
    padding-top: 10px;
  }
  .home > button {
    width: 160px;
    height: 40px;
    border-radius: 6px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 18px;
  }